html {
    max-width: 100%;
}

body {
    margin: 0 90px
}

#searchField {
    display: flex;
    flex-direction: row;
}

.queryImage {
    padding: 15px;
    border: 1px solid #000;
}

.queryImage p {
    font-size: 16px;
}

#fetchedUnsplashSrc {
    display: flex;
    flex-direction: column;
}

#fetchedUnsplashSrc img {
    max-width: 100%;
}


input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}



div#logo {
    max-width: 300px;
    height: 50px;
}

#joby-ec {
    display: flex;
    height: 100px;
    width: 100%;
}

#joby-ec > div {
    width: 33%;
}

#joby-orange{
    background-color: #FF9700;
}

#joby-dark{
    background-color: #0F1621;
}

#joby-light{
    background-color: #EEE8DD;
}

